.post {
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - var(--navHeight));
    gap:50px;
    max-width: 500px;
}


.image-container {
    flex:1;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 20%;
    overflow: hidden;
}
.info-container {
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}
.link-text {
  text-decoration: none;
  color:black;
  font-size: 1.25rem;
  font-weight: bold;
  width: fit-content;
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.link-text:hover{
  background-color:black;
  color: white;
}
.text{
    font-weight: bold;
    font-size: 1.75rem;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .container {
      flex-direction: column;
      justify-content: center;
    }

    .image-container {
      max-width: 300px;
      max-height: 300px;
        
    }


    
  }