.basic-button {
  letter-spacing: 0.5px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 7px 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: max-content;
  font-size: 1.125rem;
}

.blue-half-button {
  background-color: var(--secondaryColor);
  color: white;
  text-shadow: 0px 0px 2px var(--darkGray);
  width: 50%;
}
.blue-half-button:hover {
  background: transparent;
  background-color: var(--green);
}

.black-half-button {
  background-color: var(--black);
  color: white;
  text-shadow: 0px 0px 2px var(--darkGray);
  width: 50%;
}
.black-half-button:hover {
  background-color: var(--secondaryColor);
}

.signup-button {
  width: 20%;
  background-color: var(--black);
  color: white;
}
.signup-button:hover {
  background-color: var(--secondaryColor);
  color: white;
}

.small-button {
  padding: 2px 5px;
  background-color: var(--darkRed);
  font-size: 1rem;
  color: white;
  align-self: unset;
  border-radius: 5px;
}

.small-button:hover {
  background-color: rgb(214, 80, 80);
}

.disable {
  color: white;
  background-color: gray;
  cursor: default;
}

.icon-button {
  width: 100%;
  height: 100%;
  background-color: var(--darkRed);
  font-size: 1.25rem;
  color: white;
  align-self: unset;
  border-radius: 5px;
}

.icon-button:hover {
  background-color: rgb(214, 80, 80);
}

.disable:hover {
  background-color: gray;
}
