.container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 0 5px 1px var(--lightGray);
}

.input-area {
  display: flex;
  gap: 5px;
}

.textArea-container {
  flex: 1;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
