:root {
  --navHeight: 50px;
  --progressBar: #54d1db;
  --primaryColor: rgb(30, 67, 136);
  --secondaryColor: rgb(243, 221, 188);
  --black: #030e12;
  --darkRed: #ce4843;
  --darkGreen: rgb(5, 108, 112);
  --green: rgb(185, 238, 231);
  --darkGray: #545454;
  --lightGray: rgb(206, 202, 202);
  --loginWidth: 40%;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Hubballi", cursive;
}

body {
  background: var(--bodyBg);
  height: 100%;
}

#backdrop-root {
  width: 100%;
  height: 100%;
}

.spanLikesList:hover {
  text-decoration: underline;
  cursor: pointer;
}

.refreshIcon {
  text-align: center;
}

.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

@media screen and (max-width: 1024px) {
  :root {
    --loginWidth: 60%;
  }
}

@media screen and (max-width: 770px) {
  :root {
    --loginWidth: 75%;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --loginWidth: 90%;
  }
}

@import "./nprogress.css";
@import "./listMessages.css";
