.container{
    width: 100%;
    padding: 10px 0;
}

.row{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
}

.row:hover{
    background-color: #eee;
}
