.container {
  width: 100%;
  height: 100vh;
  padding: 30px 20px;
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-container {
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background-color: var(--secondaryColor);
  height: max-content;
  position: relative;
}

.input-container:focus-within {
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.search-result-container {
  position: absolute;
  bottom: -80%;
  left: 0;
  width: 100%;
  height: 80%;
  text-decoration: none;
  color: inherit;
}

.search-result {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  background-color: var(--black);
  border-bottom: 1px solid white;
  font-size: 1.125rem;
  color: white;
  font-weight: bold;
  height: 100%;
}

.img {
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.input {
  width: 90%;
  font-size: 1.25rem;
  border: none;
}

.input:focus {
  border: 1px solid var(--primaryColor);
}

.no-result {
  width: 90%;
}
.no-user:focus-within + span::after {
  content: "no user found";
  padding: 5px 10px;
  font-size: 1.125rem;
  display: flex;
  width: calc(100% -20px);
  background-color: white;
  box-shadow: 0 0 3px 1px var(--lightGray);
}
.icon {
  font-size: 1.25rem;
  color: var(--black);
}

.icon-white {
  color: white;
}

.spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
