.container {
  width: 100%;
  height: 100vh;
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 30px;
  padding: 30px 20px;
  background-color: var(--primaryColor);
}

.list {
  color: white;
  padding: 5px 10px;
  transition: all 0.2s ease-in;
  border-radius: 10px;
}

.link-text {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  color: white;
}

.active {
  background-color: var(--darkRed);
  color: var(--black);
}

.list:hover {
  background-color: var(--secondaryColor);
}

.list:hover .link-text {
  color: black;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 60px;
    padding: 30px 10px;
  }

  .link-text {
    display: flex;
    justify-content: center;
  }
  .pcOnly {
    display: none;
  }
  .list {
    border-radius: 5px;
  }
}

@media screen and (max-width: 770px) {
  .pcOnly {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-row: 1/2;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 10px;
    align-items: center;
    top: 0px;
    z-index: 1;
    gap: 6vmin;
  }

  .list {
    padding: 5px;
  }
}
