.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 50px;
  background-color: var(--darkRed);
  height: var(--navHeight);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  cursor: pointer;
  height: 100%;
  color: white;
  font-weight: bold;
}

.menu-active {
  background-color: #eee;
  color: black;
}
