.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: var(--secondaryColor);
  height: var(--navHeight);
}
.title{
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}
.menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  cursor: pointer;
  height: 100%;
  color: black;
  font-weight: bold;
}
.menu-item:hover{
  background-color: #eee;
}
.menu-active {
  background-color: var(--darkRed);
  color: white;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 6vmin;
  }

  .menu-item {
    font-size: 4.5vmin;
    padding: 0 5px;
  }
}
