.container {
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.auto-container {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.small-container {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.circle {
  border-radius: 50%;
}

.border-light {
  border: 2px solid var(--secondaryColor);
}

@media screen and (max-width: 770px) {
  .no-tablet {
    display: none;
  }
}
