.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - var(--navHeight));
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  background-color: var(--primaryColor);
}

.wrapper {
  box-shadow: 0 0 5px 1px var(--lightGray);
  width: var(--loginWidth);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

@media screen and (max-width: 480px) {
  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
